<div class="text-center " style="padding-top: 3%">
	<a href="https://podcasts.apple.com/us/podcast/just-chris/id1540010530" target="_blank">
		<img src="/assets/images/apple_podcasts.svg" style="padding: 1%">
	</a>
	<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zZTNmZTM4MC9wb2RjYXN0L3Jzcw==" target="_blank">
		<img src="/assets/images/google_podcasts.svg" style="padding: 1%">
	</a>
	<a href="https://open.spotify.com/show/0ZsDyjTywtrco6vOwtupRe?si=VQkG2QbZQeCjk_5jJlhAQw" target="_blank">
		<img src="/assets/images/spotify.svg" style="padding: 1%">
	</a>
</div>