<div class="share">
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://open.spotify.com/show/0ZsDyjTywtrco6vOwtupRe?si=77vrDu0oRQKPjFR5b2XjBw">
                <i class="fab fa-spotify fa-lg"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://podcasts.apple.com/us/podcast/just-chris/id1540010530">
                <i class="fab fa-apple fa-lg"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zZTNmZTM4MC9wb2RjYXN0L3Jzcw==">
                <i class="fab fa-google fa-lg"></i>
            </a>
        </li>

    </ul>
</div>
