---
title: "Blog"
layout: default
permalink: "/blog.html"
---



<div class="blogMedia">
	<form class="tabber">
	  <label for="t1">Blog</label style="padding: 20%">
	  <input id="t1" name="food" type="radio" checked onclick="setVisibility('blog','media', 'block', 'none');" >
	  <label for="t2">My Pictures</label>
	  <input id="t2" name="food" type="radio" onclick="setVisibility('media','blog', 'block', 'none');">
	  <div class="blob"></div>
	</form>
</div>


<div id="blog">
	<h1>My Thoughts</h1>
	<div class="blog-grid-container">
		{% for post in site.posts %}
			{% if post.path contains 'blog/' %}
		    	{% include postbox.html %}
		    {% endif %}
		{% endfor %}
	</div>

</div>

<div id="media">
	<h1>Media</h1>
	{% include mediaGrid.html %}
</div>

<script language="JavaScript">
	window.onload = setVisibility('blog','media', 'block', 'none');
	function setVisibility(idShow, idHide, visibility1, visibility2) {
		document.getElementById(idShow).style.display = visibility1;
		document.getElementById(idHide).style.display = visibility2;
	}
</script>


