---
title: "Episodes"
layout: default
permalink: "/episodes.html"
---


<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in site.posts %}
    	{% if post.path contains 'episodes/' %}
        	{% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

